[rule]
author = ["KC"]
rule_id = "10000000-4000-400a-b200-4a285d000001"
description = "A .zip file was observed being created in a file path containing Windows\\Temp\\"
from = "now-5m" #From changes the default lookback time, 6m is default
name = "Data Archive for Potential Exfiltration"
risk_score = 47
severity = "medium"
type = "query"

query = '''
event.dataset : "endpoint.events.file" and event.action : ("creation" or "overwrite" ) and process.name : "powershell.exe" and file.path : *Windows\\Temp\\* and file.name : *.zip
'''

[[rule.threat]] 
framework = "MITRE ATT&CK"
[[rule.threat.technique]]
id = "T1074"
name = "Data Staged"
reference = "https://attack.mitre.org/techniques/T1074/"
[[rule.threat.technique.subtechnique]]
id = "T1074.001"
name = "Local Data Staging"
reference = "https://attack.mitre.org/techniques/T1074/001/"

[rule.threat.tactic]
id = "TA0009"
name = "Collection"
reference = "https://attack.mitre.org/tactics/TA0009/"
