[rule]
author = ["KC"]
rule_id = "10000000-4000-400a-b200-4a285d000005"
description = "This alert looks for specific (browser History) and file extensions (.txt) written to a file path containing Windows\\Temp\\"
from = "now-5m" #From changes the default lookback time, 6m is default
name = "Suspicious File Written to Temp Directory"
risk_score = 50
severity = "medium"
type = "query"

query = '''
event.dataset : "endpoint.events.file" and event.action : ("creation" or "overwrite" ) and process.name : "powershell.exe" and file.path : *Windows\\Temp\\* and file.name : ("History" or *.txt)
'''

[[rule.threat]] 
framework = "MITRE ATT&CK"
[[rule.threat.technique]]
id = "T1082"
name = "System Information Discovery"
reference = "https://attack.mitre.org/techniques/T1082/"
[[rule.threat.technique]]
id = "T1217"
name = "Browser Information Discovery"
reference = "https://attack.mitre.org/techniques/T1217/"

[rule.threat.tactic]
id = "TA0007"
name = "Discovery"
reference = "https://attack.mitre.org/tactics/TA0007/"