[rule]
author = ["KC"]
rule_id = "10000000-4000-400a-b200-4a285d000008"
description = "Powershell downloaded a BAT file via Invoke-WebRequest"
from = "now-6m" #From changes the default lookback time, 6m is default
name = "PowerShell Invoke-WebRequest Downloading a BAT File"
severity = "low"
type = "query"

query = '''
event.dataset: "windows.sysmon_operational" and process.parent.name : "powershell.exe" and process.parent.command_line : *Invoke-WebRequest* and process.command_line: *bat*
'''

[[rule.threat]]
framework = "MITRE ATT&CK"
[[rule.threat.technique]]
id = "T1059"
name = "Command and Scripting Interpreter"
reference = "https://attack.mitre.org/techniques/T1059/"
[[rule.threat.technique.subtechnique]]
id = "T1059.001"
name = "PowerShell"
reference = "https://attack.mitre.org/techniques/T1059/001/"

[rule.threat.tactic]
id = "TA0002"
name = "Execution"
reference = "https://attack.mitre.org/tactics/TA0002/"
