[rule]
author = ["KC"]
rule_id = "10000000-4000-400a-b200-4a285d000010"
description = "Alerts on web scanning activity when the useragent string includes Nmap or Nikto"
from = "now-5m" #From changes the default lookback time, 6m is default
name = "Web Scanner Activity - Nmap & Nikto"
risk_score = 21
severity = "low"

type = "query"

query = '''
user_agent.original: *Nmap* or user_agent.original:"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"
'''

[[rule.threat]] 
framework = "MITRE ATT&CK"
[[rule.threat.technique]]
id = "T1046"
name = "Network Service Discovery"
reference = "https://attack.mitre.org/techniques/T1046/"

[rule.threat.tactic]
id = "TA0007"
name = "Discovery"
reference = "https://attack.mitre.org/tactics/TA0007/"

